*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    height: 100px;
    background-color: rgb(177, 110, 1);
    padding: 20px 0px;
    
}

.list{
    background-color: rgb(177, 110, 1);
    margin: 40px auto;
     max-width: 80%;
     padding: 30px;
    
}

ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 15px;
}

